body {
    margin: 0 auto;
    background: #777;
    width: 960px;
    height: 960px;
    font-size: 18px;
}

.same {
    margin: 10px auto;
    height: 40px;
    text-align: center;
    background: #ebebeb;
}

aside {
    text-align: center;
    float: right;
    width: 495px;
    padding: 10px;
    background: #ebebeb;
}

article {
    text-align: center;
    color: #ebebeb;
    background: #777;
    padding: 10px;
    width: 475px;
}

h1 {
    color: #777;
    background: #ebebeb
}

p {
    color: #777;
    background: #ebebeb
}

.clearfix::after {
    content: "Article";
    clear: both;
}

section {
    text-align: center;
    padding: 10px;
    width: 495px;
    color: black;
    background: #ebebeb;
}